:root, :host {
  --w-text-color: var(--w-gray-700);
  --w-text-color-subtle: var(--w-gray-500);
  --w-text-color-placeholder: var(--w-bluegray-300);
  --w-text-color-inverted: var(--w-white-100);
  --w-text-color-inverted-subtle: var(--w-gray-50);
  --w-text-color-link: var(--w-blue-600);
  --w-text-color-link-hover: var(--w-blue-800);
  --w-text-color-link-visited: var(--w-inherit);
  --w-white-100: #ffffff;
  --w-black-100: #000000;
  --w-transparent: transparent;
  --w-blue-50: #eff5ff;
  --w-blue-100: #e1edfe;
  --w-blue-200: #c2dafe;
  --w-blue-300: #9ac1fe;
  --w-blue-400: #5c9cff;
  --w-blue-500: #2b7eff;
  --w-blue-600: #0063fb;
  --w-blue-700: #244eb3;
  --w-blue-800: #223474;
  --w-blue-900: #191d34;
  --w-gray-50: #fafafa;
  --w-gray-100: #f4f4f5;
  --w-gray-200: #e4e4e7;
  --w-gray-300: #d4d4d8;
  --w-gray-400: #a1a1aa;
  --w-gray-500: #71717a;
  --w-gray-600: #52525b;
  --w-gray-700: #3f3f46;
  --w-gray-800: #27272a;
  --w-gray-900: #18181b;
  --w-aqua-50: #f1f9ff;
  --w-aqua-100: #e0f6ff;
  --w-aqua-200: #b6f0ff;
  --w-aqua-300: #66e0ff;
  --w-aqua-400: #06befb;
  --w-aqua-500: #03a3dd;
  --w-aqua-600: #0386bf;
  --w-aqua-700: #1e648a;
  --w-aqua-800: #1d435a;
  --w-aqua-900: #15242f;
  --w-green-50: #ebfff6;
  --w-green-100: #cdfee5;
  --w-green-200: #9efcd1;
  --w-green-300: #67eeb8;
  --w-green-400: #2ee69f;
  --w-green-500: #18c884;
  --w-green-600: #059e6f;
  --w-green-700: #1d7454;
  --w-green-800: #1b4d39;
  --w-green-900: #14291f;
  --w-yellow-50: #fff8e6;
  --w-yellow-100: #fff5c8;
  --w-yellow-200: #feef90;
  --w-yellow-300: #fae76b;
  --w-yellow-400: #ffe11f;
  --w-yellow-500: #eeb61b;
  --w-yellow-600: #d5840b;
  --w-yellow-700: #9b621e;
  --w-yellow-800: #654118;
  --w-yellow-900: #352310;
  --w-red-50: #fff5f5;
  --w-red-100: #ffefef;
  --w-red-200: #ffd1d1;
  --w-red-300: #ff9999;
  --w-red-400: #ff5844;
  --w-red-500: #fa270f;
  --w-red-600: #d91f0a;
  --w-red-700: #9e2216;
  --w-red-800: #681d11;
  --w-red-900: #38140b;
  --w-bluegray-50: #f8fafc;
  --w-bluegray-100: #f1f4f9;
  --w-bluegray-200: #e1e6ee;
  --w-bluegray-300: #c3ccd9;
  --w-bluegray-400: #9ba8ba;
  --w-bluegray-500: #6f7d90;
  --w-bluegray-600: #4d586f;
  --w-bluegray-700: #3B4353;
  --w-bluegray-800: #292d38;
  --w-bluegray-900: #181a1f;
  --w-button-color-text-primary: var(--w-white-100);
  --w-button-color-text-secondary: var(--w-blue-600);
  --w-button-color-text-tertiary: var(--w-blue-600);
  --w-button-color-text-critical: var(--w-white-100);
  --w-button-color-text-critical-quiet: var(--w-red-600);
  --w-button-color-background-primary: var(--w-blue-600);
  --w-button-color-background-primary-hover: var(--w-blue-700);
  --w-button-color-background-primary-active: var(--w-blue-800);
  --w-button-color-background-secondary: var(--w-white-100);
  --w-button-color-background-secondary-hover: var(--w-blue-50);
  --w-button-color-background-secondary-active: var(--w-blue-200);
  --w-button-color-background-tertiary: var(--w-transparent);
  --w-button-color-background-tertiary-hover: var(--w-gray-100);
  --w-button-color-background-tertiary-active: var(--w-gray-200);
  --w-button-color-background-critical: var(--w-red-600);
  --w-button-color-background-critical-hover: var(--w-red-700);
  --w-button-color-background-critical-active: var(--w-red-800);
  --w-button-color-background-critical-quiet: var(--w-transparent);
  --w-button-color-background-critical-quiet-hover: var(--w-red-100);
  --w-button-color-background-critical-quiet-active: var(--w-red-200);
  --w-button-color-background-favorite: var(--w-transparent);
  --w-button-color-background-favorite-hover: var(--w-blue-300-transparentized-30-percent);
  --w-button-color-border-primary: var(--w-blue-600);
  --w-button-color-border-primary-hover: var(--w-blue-700);
  --w-button-color-border-primary-active: var(--w-blue-800);
  --w-button-color-border-secondary: var(--w-bluegray-300);
  --w-button-color-border-secondary-hover: var(--w-blue-700);
  --w-button-color-border-secondary-active: var(--w-blue-800);
  --w-button-color-border-critical: var(--w-red-600);
  --w-button-color-border-critical-hover: var(--w-red-700);
  --w-button-color-border-critical-active: var(--w-red-800);
  --w-button-color-border-critical-quiet: var(--w-transparent);
  --w-button-color-border-critical-quiet-hover: var(--w-transparent);
  --w-button-color-border-critical-quiet-active: var(--w-transparent);
  --w-button-color-icon-primary: var(--w-white-100);
  --w-button-color-icon-secondary: var(--w-blue-600);
  --w-button-color-icon-tertiary: var(--w-blue-600);
  --w-button-color-icon-critical: var(--w-white-100);
  --w-button-color-icon-critical-quiet: var(--w-red-600);
  --w-button-color-icon-favorite: var(--w-gray-500);
  --w-button-color-icon-favorite-hover: var(--w-gray-600);
  --w-button-color-icon-favorite-active: var(--w-blue-600);
  --w-button-color-icon-favorite-overlay: var(--w-blue-700);
  --w-button-color-icon-favorite-overlay-hover: var(--w-blue-50);
  --w-button-color-icon-favorite-overlay-active: var(--w-white-100);
}
